
<div *ngIf="productOrder">
    <h2><span jhiTranslate="shaurmaStoreApp.productOrder.detail.title">Product Order</span> {{productOrder.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="shaurmaStoreApp.productOrder.totalPrice">Total Price</span></dt>
        <dd>
            <span>{{productOrder.totalPrice}}</span>
        </dd>
        <dt><span jhiTranslate="shaurmaStoreApp.productOrder.date">Date</span></dt>
        <dd>
            <span>{{productOrder.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="shaurmaStoreApp.productOrder.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'shaurmaStoreApp.Status.' + productOrder.status}}">{{productOrder.status}}</span>
        </dd>
        <dt><span jhiTranslate="shaurmaStoreApp.productOrder.client">Client</span></dt>
        <dd>
            <div *ngIf="productOrder.client">
                <a [routerLink]="['/client', productOrder.client?.id]">{{productOrder.client?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product-order/'+ productOrder.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
